@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --gold: 47 83% 61%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;
  }
}

@layer components {
  .focus-ring {
    @apply ring-2 ring-gold ring-offset-2;
  }
}
